<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.livewallpaper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/wallpaper_application_title"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WallpaperActivity"
            android:label="@string/wallpaper_application_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WallpaperSettingsActivity"
            android:exported="true"
            android:label="@string/pref_screen_title" >
        </activity>

        <service
            android:name=".Wallpaper"
            android:label="@string/wallpaper_service_title"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>

</manifest>